body {
  font-variant-ligatures: common-ligatures;
}

.justify-text {
  text-align: justify;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 900;
  color: #000000;
  font-size: 32px;
  line-height: 0.95;
  text-transform: uppercase;
  letter-spacing: -1px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px;
  display: inline-block;
}

.uppercase-text {
  text-transform: uppercase;
  font-variant-ligatures: normal;
}

.justify-text::before,
.justify-text::after {
  content: "";
  flex: 1;
}

#main-content, #projects {
  max-width: 1920px;
  margin: -10 auto;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

/* 分栏样式 */
#main-content p {
  column-count: 1;
  column-gap: 20px;
  text-align: justify;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  font-variant-ligatures: normal;
}

/* 样式修改 */
.container {
  display: flex;
  gap: 8px;
}

.column {
  flex: 1;
}

.uppercase-text {
  margin: 10;
  padding: 0px 0;
  font-size: 16px;
  text-align: center;
}

