@font-face {
  font-family: 'Optima';
  src: url('/Optima-Regular.ttf') format('truetype');
}

body {
  background-color: black;
  color: white;
  font-family: 'Optima', sans-serif;
  font-size: 18px;
  line-height: 0.6;
  margin: 0;
  padding: 20px;
}

p {
  margin: 0;
}

a.no-style-link {
  text-decoration: underline;
  color: inherit;
}
